.vs/slnx.sqlite
.vs/ProjectSettings.json
api/.vs/MeManga/v15/Server/sqlite3/storage.ide-wal
api/.vs/MeManga/v15/Server/sqlite3/storage.ide-shm
api/.vs/MeManga/v15/Server/sqlite3/storage.ide
api/.vs/MeManga/v15/Server/sqlite3/db.lock
api/.vs/MeManga/v15/.suo
api/.vs/MeManga/v16/Server/sqlite3/storage.ide-wal
api/.vs/MeManga/v16/Server/sqlite3/storage.ide-shm
api/.vs/MeManga/v16/Server/sqlite3/storage.ide
api/.vs/MeManga/v16/Server/sqlite3/db.lock
api/.vs/MeManga/v16/.suo
api/MeManga/obj/project.assets.json
api/MeManga/obj/MeManga.csproj.nuget.g.targets
api/MeManga/obj/Debug/netcoreapp2.1/MeManga.Views.pdb
api/MeManga/obj/Debug/netcoreapp2.1/MeManga.Views.dll
api/MeManga/obj/Debug/netcoreapp2.1/MeManga.TagHelpers.output.cache
api/MeManga/obj/Debug/netcoreapp2.1/MeManga.AssemblyInfoInputs.cache
api/MeManga/obj/Debug/netcoreapp2.1/MeManga.AssemblyInfo.cs
api/MeManga/Logs/Orient-20190522-DN-PHUNGDKH.txt
api/MeManga/obj/Debug/netcoreapp2.1/MeManga.dll
api/MeManga/obj/Debug/netcoreapp2.1/MeManga.csprojAssemblyReference.cache
api/MeManga/obj/Debug/netcoreapp2.1/MeManga.csproj.FileListAbsolute.txt
api/MeManga/obj/Debug/netcoreapp2.1/MeManga.TagHelpers.input.cache
api/MeManga/obj/Debug/netcoreapp2.1/MeManga.RazorCoreGenerate.cache
api/MeManga/obj/Debug/netcoreapp2.1/MeManga.RazorAssemblyInfo.cs
api/MeManga/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
api/MeManga/obj/Debug/netcoreapp2.1/Razor/Core/Business/Resources/EmailTemplates/WelcomeTemplate.g.cshtml.cs
api/MeManga/obj/Debug/netcoreapp2.1/MeManga.csproj.CoreCompileInputs.cache
api/MeManga/obj/Debug/netcoreapp2.1/MeManga.RazorTargetAssemblyInfo.cs
api/MeManga/obj/Debug/netcoreapp2.1/MeManga.RazorTargetAssemblyInfo.cache
api/MeManga/obj/MeManga.csproj.nuget.cache
api/MeManga/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
api/MeManga/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
api/MeManga/obj/Debug/netcoreapp2.1/MeManga.csproj.CopyComplete
api/MeManga/obj/Debug/netcoreapp2.1/MeManga.assets.cache
api/MeManga/obj/Debug/netcoreapp2.1/MeManga.RazorAssemblyInfo.cache
api/MeManga/obj/MeManga.csproj.nuget.g.props
api/MeManga/obj/Debug/netcoreapp2.1/MeManga.pdb
api/MeManga/bin/Debug/netcoreapp2.1/MeManga.runtimeconfig.json
api/MeManga/bin/Debug/netcoreapp2.1/MeManga.pdb
api/MeManga/bin/Debug/netcoreapp2.1/MeManga.Views.pdb
api/MeManga/bin/Debug/netcoreapp2.1/MeManga.runtimeconfig.dev.json
api/MeManga/bin/Debug/netcoreapp2.1/MeManga.deps.json
api/MeManga/bin/Debug/netcoreapp2.1/MeManga.xml
api/MeManga/MeManga.xml
api/MeManga/bin/Debug/netcoreapp2.1/MeManga.Views.dll
api/MeManga/bin/Debug/netcoreapp2.1/MeManga.dll
api/.vs/config/applicationhost.config
api/MeManga/Logs/
package-lock.json
api/MeManga/wwwroot/Files/
api/MeManga/obj/MeManga.csproj.nuget.dgspec.json
api/.vs/MeManga/config/applicationhost.config
api/.vs/MeManga/DesignTimeBuild/.dtbcache
api/MeManga/.vs/MeManga/v15/Server/sqlite3/storage.ide-wal
api/MeManga/.vs/MeManga/v15/Server/sqlite3/storage.ide-shm
api/MeManga/.vs/MeManga/v15/Server/sqlite3/storage.ide
api/MeManga/.vs/MeManga/v15/Server/sqlite3/db.lock
api/MeManga/.vs/MeManga/v15/.suo
api/MeManga/.vs/MeManga/v16/Server/sqlite3/storage.ide-wal
api/MeManga/.vs/MeManga/v16/Server/sqlite3/storage.ide-shm
api/MeManga/.vs/MeManga/v16/Server/sqlite3/storage.ide
api/MeManga/.vs/MeManga/v16/Server/sqlite3/db.lock
api/MeManga/.vs/MeManga/v16/.suo
